<p id="notice"><%= notice %></p>

<h1>Listing Bird Images</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Bird</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bird_images.each do |bird_image| %>
      <tr>
        <td><%= bird_image.image %></td>
        <td><%= bird_image.bird %></td>
        <td><%= link_to 'Show', bird_image %></td>
        <td><%= link_to 'Edit', edit_bird_image_path(bird_image) %></td>
        <td><%= link_to 'Destroy', bird_image, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bird image', new_bird_image_path %>
