<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag "#{@bird_image.image}" %>
</p>

<p>
  <strong>Bird:</strong>
  <%= @bird_image.bird.bird_name %>
</p>

<%= link_to 'Edit', edit_bird_image_path(@bird_image) %> |
<%= link_to 'Back', bird_images_path %>
