<div id="colorlib-page">
  <div id="colorlib-main-log">
    <div id="colorlib-log">
      <div id="colorlib-log-detail">
        <%if current_user.user_role == 1 %>
          <h2><b>新しい種類</b></h2>

          <%= form_for(@species) do |f| %>
            <% if @species.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@species.errors.count, "error") %> prohibited this bird from being saved:</h2>

                <ul>
                  <% @species.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="field">
              <%= f.label :species_name, "名" %><br>
              <%= f.text_field :species_name %>
            </div>
            <div class="field">
              <%= f.label :species_info, "情報" %><br>
              <%= f.text_area :species_info %>
            </div>
            <div class="actions">
              <%= f.submit "作成"%>
            </div>
            <%= link_to 'バック', species_index_path, method: :get%>
          <% end %>
        <% else %>
          <h1>編集する権限を持っていません </h1>
        <% end %>
      </div>
    </div>
  </div>
</div>
