<div id="colorlib-page-top-padding">
  <div id="colorlib-main">
    <div class="colorlib-blog">
      <div class="colorlib-narrow-content">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
            <%if current_user.user_role == 1 %>
              <div class="container">
                <h1>Edit species</h1>
                <%= form_for(@species, html: {multipart: true}) do |f| %>
                  <hr>
                  <div class="row">
                    <!-- left column -->
                    <div class="col-md-6">
                      <div class="about-img">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <% BirdImage.where(bird_id: @birds.ids).each_with_index do |bird_image, index| %>
                              <li data-target="#myCarousel" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
                            <% end %>
                          </ol>

                          <!-- Wrapper for slides -->

                          <div class="carousel-inner" role="listbox">
                            <% BirdImage.where(bird_id: @birds.ids).each_with_index do |bird_image, index| %>
                              <div class="item <%= index == 0 ? 'active' : '' %>">
                                <div class="bird_cell">
                                  <%= image_tag(bird_image.image, :width => "100%", :height => "510px") %>
                                </div>
                              </div>
                            <% end %>
                          </div>

                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                      </div>
                    </div>

                    <!-- edit form column -->
                    <div class="col-md-6 personal-info">
                      <h3>Species info</h3>
                      <%= f.label :species_name %><br/><br/>
                      <%= f.text_field :species_name, class: 'form-control' %>

                      <%= f.label :species_info %><br/><br/>
                      <%= f.text_area :species_info, :row => "10", class: 'form-control' %>
                      <div style="padding-top: 30px">
                        <%= f.submit "Save Changes", class: "btn btn-primary" %>
                      </div>
                    </div>
                <% end %>
                </div>
              </div>
            <% else %>
              <h1>You don't have permission to edit this </h1>
            <% end %>
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>