<p id="notice"><%= notice %></p>

<p>
  <strong>Species name:</strong>
  <%= @species.species_name %>
</p>

<p>
  <strong>Species info:</strong>
  <%= @species.species_info %>
</p>

<p>
  <strong>Min price:</strong>
  <%= @species.min_price %>
</p>

<p>
  <strong>Max price:</strong>
  <%= @species.max_price %>
</p>

<%= link_to 'Edit', edit_species_path(@species) %> |
<%= link_to 'Back', species_index_path %>
