<%= form_for User.new do |f| %>
  <% if User.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(User.new.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_name %><br>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :user_password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :user_password_confirmation  %><br>
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="field">
    <%= f.label :user_mail %><br>
    <%= f.text_field :user_mail %>
  </div>
  <div class="field">
    <%= f.label :user_role %><br>
    <%= f.text_field :user_role %>
  </div>
  <div class="field">
    <%= f.label :integer %><br>
    <%= f.text_field :integer %>
  </div>
  <div class="field">
    <%= f.label :user_avatar %><br>
    <%= f.text_field :user_avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
