<div id="colorlib-page-top-padding">
  <div id="colorlib-main">
    <div class="colorlib-about">
      <div class="colorlib-narrow-content">
        <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
          <h2 class="colorlib-heading"><%= @user.user_name %>プロフィール</h2>
        </div>
        <div class="col-md-6">
          <div class="about-img animate-box" data-animate-effect="fadeInLeft">
            <div class="text-center">
              <%= image_tag(@user.avatar, size: '600x600') %><br>
            </div>
          </div>
        </div>
        <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
          
          <row>
            <div class="col-md-3">
              <h2 class="colorlib-heading">名前</h2>
            </div>
            <div class="col-md-9">
              <% if @user.user_name.blank?%>
                <h2 class="colorlib-heading-profile">Not Specified</h2>
              <% else %>
                <h2 class="colorlib-heading-profile"><%= @user.user_name %></h2>
              <% end %>
            </div>
          </row>

          <row>
            <div class="col-md-3">
              <h2 class="colorlib-heading">メール</h2>
            </div>
            <div class="col-md-9">
              <h2 class="colorlib-heading-profile"><%= @user.email %></h2>
            </div>
          </row>

          <row>
            <div class="col-md-3">
              <h2 class="colorlib-heading">電話番後</h2>
            </div>
            <div class="col-md-9">
              <% if @user.phone.blank?%>
                <h2 class="colorlib-heading-profile">Not Specified</h2>
              <% else %>
                <h2 class="colorlib-heading-profile"><%= @user.phone %></h2>
              <% end %>
            </div>
          </row>

          <row>
            <div class="col-md-3">
              <h2 class="colorlib-heading">性別</h2>
            </div>
            <div class="col-md-9">
              <% if @user.sex.blank?%>
                <h2 class="colorlib-heading-profile">Not Specified</h2>
              <% else %>
                <h2 class="colorlib-heading-profile"><%= @user.sex %></h2>
              <% end %>
            </div>
          </row>

          <row>
            <div class="col-md-3">
              <h2 class="colorlib-heading">誕生日</h2>
            </div>
            <div class="col-md-9">
              <% if @user.birthdate.blank?%>
                <h2 class="colorlib-heading-profile">Not Specified</h2>
              <% else %>
                <h2 class="colorlib-heading-profile"><%= @user.birthdate.strftime('%F') %></h2>
              <% end %>
            </div>
          </row>

          <row>
            <% if user_signed_in? %>
              <% if current_user.id == @user.id %>
                <%= link_to "Edit Profile", edit_user_path, method: :get, class: "btn btn-primary" %>
              <% end %>
            <% end %>
          </row>
        </div>
      </div>
    </div>
  </div>
</div>