<div id="colorlib-page">
  <div id="colorlib-main-log">
    <div id="colorlib-log">
      <div id="colorlib-log-detail">
        <h2><b>新しい鳥</b></h2>

        <%= form_for(@bird) do |f| %>
          <% if @bird.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@bird.errors.count, "error") %> prohibited this bird from being saved:</h2>

              <ul>
                <% @bird.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field">
            <%= f.label :bird_name, "名" %><br>
            <%= f.text_field :bird_name %>
          </div>
          <div class="field">
            <%= f.label :bird_info, "情報" %><br>
            <%= f.text_area :bird_info %>
          </div>
          <div class="field">
            <%= f.label :bird_price, "値段"%><br>
            <%= f.number_field :bird_price %>
          </div>
          <div class="field">
            <%= f.label :bird_voice, "声" %>
            <%= f.file_field :bird_voice ,class:'upload-btn'%>
          </div>
          <div class="field">
            <%= f.label :species_id, "種類" %><br>
            <% options = options_from_collection_for_select(@species, 'id', 'species_name') %>
            <%= f.select :species_id,  options %>
          </div>
          <div class="actions">
            <%= f.submit "作成"%>
          </div>
          <%= link_to 'バック', birds_path %>
        <% end %>
      </div>
    </div>
  </div>
</div>
