<div id="colorlib-page-top-padding">
  <div id="colorlib-main">
    <div class="colorlib-blog">
      <div class="colorlib-narrow-content">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
            <% if params[:q] %>
              <h2 class="colorlib-heading">結果</h2>
            <% else %>
              <span class="heading-meta-kanji">鳥</span>
              <h2 class="colorlib-heading">鳥概要</h2>
            <% end %>

            <%= content_tag :th, sort_link(@q, :bird_name, "名によるソート", {}, { class: "btn btn-primary", method: :get }) %>
            <%= button_tag "詳細検索", class: "btn btn-primary", data: {toggle: "collapse", target: "#advance-search"} %>

            <% if user_signed_in? %>
              <% if current_user.user_role==1 %>
                <%= link_to "鳥登録", new_bird_path, method: :get, class: "btn btn-primary" %>
              <% end %>
            <% end %>

            <div class="collapse" id="advance-search">
              <%= search_form_for @q do |f| %>
                <div class="row">
                  <div class="col-md-6"><br>
                    <%= f.label "鳥がある", class: "advanced-label" %>
                  </div><br>
                  <div class="col-md-6">
                    <%= f.search_field :bird_name_cont, class: "search-advanced-form" %>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-md-6">
                    <%= f.label "種類がある", class: "advanced-label" %>
                  </div>
                  <div class="col-md-6">
                    <%= f.search_field :species_species_name_cont, class: "search-advanced-form" %>
                  </div>
                </div><br>
                <div class="row">
                  <div class="col-md-6">
                    <%= f.label "最小値段", class: "advanced-label" %>
                  </div>
                  <div class="col-md-6">
                    <%= f.search_field :bird_price_gteq, class: "search-advanced-form" %>
                  </div><br>
                </div><br>
                <div class="row">
                  <div class="col-md-6">
                    <%= f.label "最大値段", class: "advanced-label" %>
                  </div>
                  <div class="col-md-6">
                    <%= f.search_field :bird_price_lteq, class: "search-advanced-form" %>
                  </div>
                </div>
                <%= button_tag "Search", type: "submit", class: "btn btn-primary" do %>
                  <i class="fa fa-search" aria-hidden="true"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <br>
        <div class="animate-box" data-animate-effect="fadeInLeft">
          <% if @birds.present? %>
            <h2 class="heading-results">
              <%= @birds.total_count %>
              <% if @birds.total_count == 1 %> 結果<% else %> 結果<% end %>
            </h2>
            <%= render partial: "birds/bird_index", layout: "birds/bird_index" %>
          <% else %>
            <p class="heading-results">ごめんなさい。結果がありません。他のキーワードを入力して見てください。</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
