<div id="colorlib-page-double-top-padding">
  <div id="colorlib-main">

    <p>
      <strong>Bird name:</strong>
      <%= @bird.bird_name%>
    </p>

    <p>
      <strong>Bird info:</strong>
      <%= @bird.bird_info%>
    </p>

    <p>
      <strong>Bird price:</strong>
      <%= @bird.bird_price %>
    </p>

    <p>
      <strong>Bird voice:</strong>
    </p>

    <audio controls>
      <source src=<%= asset_path(@bird.bird_voice) %> type="audio/mpeg">
      This bird has no voice data.
    </audio>

    <p>
      <strong>Species:</strong>
      <%= @bird.species.species_name %>
    </p>

    <% BirdImage.where(bird_id:@bird.id).each do |bird_image| %>
      <%= image_tag(bird_image.image)  %>
    <% end %>


    <p>
    <%= link_to 'Edit', edit_bird_path(@bird), method: :get %> |
    <%= link_to 'Back', birds_path, method: :get %>

    <% if user_signed_in? %>
      <%= render partial: "reviews/form" %>
    <% end %>
    Average rating
    <%= @bird.rating %>/5
    <%= paginate @reviews %>
    <div class="container">
      <ul class="review-list">
        <%= render @reviews %>
      </ul>
    </div>
  </div>
</div>
