<div id="colorlib-page-double-top-padding">
  <div id="colorlib-main">

    <p>
      <strong>Bird name:</strong>
      <%= @bird.bird_name%>
    </p>

    <p>
      <strong>Bird info:</strong>
      <%= @bird.bird_info%>
    </p>

    <p>
      <strong>Bird price:</strong>
      <%= @bird.bird_price %>
    </p>

    <p>
      <strong>Bird voice:</strong>
    </p>

    <audio controls>
      <source src=<%= asset_path(@bird.bird_voice) %> type="audio/mpeg">
      This bird has no voice data.
    </audio>

    <p>
      <strong>Species:</strong>
      <%= @bird.species.species_name %>
    </p>

    <% BirdImage.where(bird_id:@bird.id).each do |bird_image| %>
      <%= image_tag(bird_image.image)  %>
    <% end %>


    <p>
    <%= link_to 'Edit', edit_bird_path(@bird), method: :get %> |
    <%= link_to 'Back', birds_path, method: :get %>

    <div id="review-area">
      <% if user_signed_in? %>
        <% if @bird.review_user_present?(current_user.id) %>
          <%= render partial: "reviews/update_form" %>
        <% else %>
          <%= render partial: "reviews/form" %>
        <% end %>

      <!-- Fixing -->
      <!-- <div id="user-review">
        <div class="container">
          <strong>Your review</strong><br>
          <% if @bird.review_user_present?(current_user.id) %>
            <textarea style="resize:none; display: block; margin-left: auto; margin-right: auto;" cols="100" rows="3" disabled><%= @bird.review_user(current_user.id).comment %>
            </textarea>
            <br>
            <%= @bird.review_user(current_user.id).rating_float %>
          <% end %>
        </div>
      </div> -->
      <!-- https://stackoverflow.com/questions/32709328/how-to-display-ajax-error-message-in-rails -->
      <!-- https://stackoverflow.com/questions/7008781/resizing-a-f-text-area-in-rails -->
      <!-- https://stackoverflow.com/questions/4223931/rails-text-area-size -->
      <% end %>
    </div>

    <div class="container">
      <strong><%= @bird.review_count %> users has reviewed <%= @bird.bird_name %></strong>
      <div class="update-rating"><strong>Average rating: <%= @bird.rating %>/5</strong></div>
      <%= render partial: "reviews/rating", locals: {rating: @bird.rating} %>
      <%= paginate @reviews %>
      <ul class="review-list">
        <%= render @reviews %>
      </ul>
    </div>
  </div>
</div>
