<p id="notice"><%= notice %></p>

<p>
  <strong>Bird name:</strong>
  <%= @bird.bird_name %>
</p>

<p>
  <strong>Bird info:</strong>
  <%= @bird.bird_info %>
</p>

<p>
  <strong>Bird price:</strong>
  <%= @bird.bird_price %>
</p>

<p>
  <strong>Bird voice:</strong>
  <%= @bird.bird_voice %>
</p>

<p>
  <strong>Species:</strong>
  <%= @bird.species %>
</p>

<%= link_to 'Edit', edit_bird_path(@bird) %> |
<%= link_to 'Back', birds_path %>
