<div class="record" id="record-#{review.id}">
  <li>
    <%= avatar_for(review.user) %>
    <strong><%= review.user.user_name %>&emsp;</strong>
    <span><%= review.comment %></span><br>
    <strong>Rating&ensp;</strong>
    <span><%= review.rating_float %></span>
    <%= render partial: "reviews/rating", locals: {rating: review.rating_float} %>
    <strong>Reviewed at </strong>
    <span><%= review.updated_at.localtime.strftime("%d-%m-%Y, %H:%M") %></span>
    <% if user_signed_in? %>
      <button class="btn btn-link" data-toggle="collapse" data-target="#link-reply-<%= review.id %>">
        <span style="font-size:larger;">Reply</span>
      </button>
      <div class="collapse" id="link-reply-<%= review.id %>">
        <%= render partial: "replies/form", locals: { :review_id => review.id } %>
      </div>
    <% end %>
  </li>
  <div style="padding-left: 100px">
    <ul class="review-list">
      <%= render review.replies %>
    </ul>
  </div>
</div>
