<div class="record" id="record-#{review.id}">
  <li>
    <%= gravatar_for review.user %>
    <strong><%= review.user.user_name %></strong>
    <span><%= review.comment %></span><br>
    <strong>Rating</strong>
    <span><%= review.rating_float %></span><br>
    <strong>Reviewed </strong>
    <span><%= time_ago_in_words(review.created_at) %></span> ago
    <% if review.created_at != review.updated_at %>
      <br><strong>Edited </strong>
      <span><%= time_ago_in_words(review.updated_at) %></span> ago
    <% end %>
  </li>
</div>
