<div id="colorlib-page-top-padding">
  <div id="colorlib-main">
    <div class="colorlib-blog">
      <div class="colorlib-narrow-content">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-md-pull-3 animate-box" data-animate-effect="fadeInLeft">
            <div class="blog-entry">
              <% if user_signed_in? %>
                <span class="heading-meta"><%= current_user.user_name %></span>
                <h2 class="colorlib-heading">Review History</h2>
                <% if Review.where(user_id: current_user.id).count == 0 %>
                  <h1>You haven't made any review</h1>
                <% end %>
                <% Review.where(user_id: current_user.id).each do |review| %>
                  <div class="row row-bottom-padded-md">
                    <div class="col-md-6">
                      <%= link_to Bird.where(id:review.bird_id).first, method: :get do %>
                        <%=image_tag(BirdImage.where(bird_id:review.bird_id).first.image) %>
                      <% end %>
                    </div>
                    <div class="col-md-6 animate-box" data-animate-effect="fadeInLeft">
                      <div class="about-desc">
                        <h3><%= User.where(id:review.user_id).first.user_name %></h3>
                        <span><%= review.comment%></span><br>
                        <strong>Rating</strong>
                        <span><%= review.rating_float %></span>
                        <%= render partial: "reviews/rating", locals: {rating: review.rating_float} %>
                        <strong>Reviewed at </strong>
                        <span><%= review.updated_at.strftime("%Y-%m-%d, %H:%M") %></span>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% else %>
                <h1>You are not signed in</h1>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>