<header>
    <div style="position: absolute; top: 25px; left: 5px;">
        <%= render partial: "layouts/search_bar", layout: "layouts/search_bar" %>
    </div>
    
    <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
            <div class="button-container-2" style="position: absolute; top: 0px; right: 0px;">
                <span class="mas">LOGOUT</span>
                <button type="button" name="Hover">LOGOUT</button>
            </div>
        <% end %>
        <%= link_to current_user, method: :get do %>
            <div style="position: absolute; top: 0px; right: 100px;">
                <%= image_tag(current_user.avatar, size: "50x50")%>
            </div>
        <% end %>
    <% else %>
        <%= render partial: 'layouts/login_btt', layout: 'layouts/login_btt' %>
    <% end %>
</header>
