<aside id="colorlib-aside" role="complementary" class="border js-fullheight">
  <h1 id="colorlib-logo"><%= link_to "鳥好き", root_path , method: :get %></h1>
  <nav id="colorlib-main-menu" role="navigation">
    <ul>
      <li><%= link_to "ホーム", root_path , method: :get %></li>
      <li><%= link_to "種類", species_index_path , method: :get %></li>
      <li><%= link_to "鳥", birds_path , method: :get %></li>
      <% if user_signed_in? %>
        <li><%= link_to "レビュー", user_review_path , method: :get %></li>
        <% if current_user.user_role == 1 %>
          <li><%= link_to "アドミン", admin_path , method: :get %></li>
        <%end %>
      <%end %>
    </ul>
  </nav>

  <div class="colorlib-footer">
    <p><small>&copy;
      Copyright &copy; 2018 All rights reserved &copy; This website is made by <a href="https://trello.com/itnihongo3/home" target="_blank">VNCS語</a></span> </small></p>
    <ul>
      <li><a href="https://www.facebook.com/"><i class="icon-facebook2"></i></a></li>
      <li><a href="https://twitter.com/"><i class="icon-twitter2"></i></a></li>
      <li><a href="https://www.instagram.com/"><i class="icon-instagram"></i></a></li>
      <li><a href="https://www.linkedin.com/"><i class="icon-linkedin2"></i></a></li>
    </ul>
  </div>

</aside>
