<!DOCTYPE html>
<html>
<head>
  <title>Chim Review</title>
  <meta charset="utf-8">
  <%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type => "image/x-icon" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <%= render partial: "flash_messages", flash: flash %>
  <%= render partial: "layouts/header", layout: "layouts/header" %>
  <%= render partial: "layouts/side_nav", layout: "layouts/side_nav" %>
  <%= yield %>

</body>
</html>
